/* :root {
  --white: #fff;
  --black: black;
  --whiteSmoke: whitesmoke;
}

body {
  background-color: var(--white);
}

.box_container {
  width: 100%;
  margin: 0 auto;
  background-color: var(--black);
  display: flex;

  padding: 20px;
  gap: 30px;
}

.box {
  width: 100px;
  height: 100px;
  background-color: var(--white);
  border-radius: 10px;
} */

@layer components {
  .btn-blue {
    @apply bg-blue-500 text-white p-4 mx-auto block my-5 rounded;
  }
}
